<h1>New Tweet</h1>

You're replying to: <b><%= @topic.text %></b>

<%= render "form_reply.html", Map.put(assigns, :action, Routes.tweet_path(@conn, :do_reply)) %>

<span><%= link "Back", to: Routes.tweet_path(@conn, :index) %></span>
