<h1>Show Tweet</h1>

<p><%= @tweet.text %></p>

<%= for r <- @replies do %>
  <p>
    <b><%= r.id %></b> - 
    <%= r.text %>
  </p>
<% end %>

<span><%= link "Edit", to: Routes.tweet_path(@conn, :edit, @tweet) %></span> |
<span><%= link "Back", to: Routes.tweet_path(@conn, :index) %></span>
